<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/alteracaoCadastro.css" type="text/css">
</head>
<body>

    <%if(erros){%>
        <ul>
            <%for(let i = 0; i < erros.length; i++){%>
                <li><%=erros[i].msg%></li>
            <%}%>
        </ul>
    <%}%>   

    <main>
        <form action="/usuario/alterar" method="post">
        

            <div id="div-inputs">
                <input type="text" name="nome" id="input-nome" value="<%=usuario[0].nome%>" placeholder="Nome">
                <input type="email" name="email" id="input-email" value="<%=usuario[0].email%>" placeholder="E-mail">
            </div>

            <input type="hidden" name="id_tipo_usuario" value="1">
            <input type="hidden" name="idUsuario" value="<%=usuario[0].id%>">

            <button type="submit">Salvar</button>
            <a href="../alteracaoSenha/<%=usuario[0].id%>">Nova Senha</a>
        </form>
    </main>

    
</body>
</html>