<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%if(erros){%>
        <ul>
            <%for(let i = 0; i < erros.length; i++){%>
                <li><%=erros[i].msg%></li>
            <%}%>
        </ul>
    <%}%>   

    <form action="/usuario/alterar" method="post">
        
        <label for="input-nome">Nome</label>
        <input type="text" name="nome" id="input-nome" value="<%=usuario[0].nome%>">
        <br>
        <br>
    
        <label for="input-email">E-mail</label>
        <input type="email" name="email" id="input-email" value="<%=usuario[0].email%>">
        <br>
        <br>        
    
        <input type="hidden" name="id_tipo_usuario" value="1">
        <input type="hidden" name="idUsuario" value="<%=usuario[0].id%>">
    
        <button type="submit">Salvar</button>

    </form>

    <a href="../alteracaoSenha/<%=usuario[0].id%>"><button>Nova Senha</button></a>
</body>
</html>