<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/cadastro.css" type="text/css">
</head>
<body>
    
    <main>
        <%if(erros){%>
            <ul>
                <%for(let i = 0; i < erros.length; i++){%>
                    <li><%=erros[i].msg%></li>
                <%}%>
            </ul>
        <%}%>    

        <%if(erro){%>
            <ul>
                <%for(let i = 0; i < erro.length; i++){%>
                    <li><%=erro[0].msg%></li>
                <%}%>
            </ul>
        <%}%>    
    
        <form action="/usuario/cadastrar" method="post">
            
            <div id="div-inputs">
                <input type="text" name="nome" id="input-nome" value="<%=usuario.nome%>" placeholder="Nome">
                    
                <input type="email" name="email" id="input-email" value="<%=usuario.email%>" placeholder="E-mail">
                        
                <input type="password" name="senha" id="input-senha" value="<%=usuario.senha%>" placeholder="Senha">
                
                <input type="password" name="confirmaSenha" id="input-confirmaSenha" value="<%=usuario.confirmaSenha%>" placeholder="Confirmar Senha">
                
                <input type="hidden" name="tipoUsuario" value="1">
            </div>

            <div id="info-cad">
                <p>Já possui um cadastro?</p>
                <a href="/telaLogin">Voltar</a>
            </div>

            <button type="submit">Cadastrar-se</button>

        </form>
    </main>
</body>
</html>